body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: darkblue;
}

a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: darkblue;
}
